:root{
    --main-color: #2196f3;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Opne sans", sans-serif;
}

.game {
    background-color: #eee;
    min-height: 100vh;
}

.container {
    margin: auto;
    width: 500px;
    min-width: 900px;
}

.name {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.message {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
}

.message span{
    font-weight: bold;
    color: #009688;
}

.message span::before {
    content: "[ ";
}

.message span::after {
    content: " ]";
}

.start {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #006988;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.the-word {
    text-align: center;
    color: var(--main-color);
    font-size: 60px;
    user-select: none;
    font-weight: bold;
}

.input {
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    text-transform: capitalize;
    text-align: center;
}

.input:focus {
    outline: none;
}

.upcoming-words {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upcoming-words div {
    background-color: var(--main-color);
    color: white;
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
}

.control span {
    font-weight: bold;
    color: #009688;
}

.finish {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
.finish .good {
    color: var(--main-color);
}
.finish .bad {
    color: red;
}

.score--time {
    background-color: white;
    padding: 15px;

}

.score__time {
    font-weight: bold;
}

.lapel {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.level-select {
    width: 100%;
    margin-top: 15px;
}

.level-select label {
    font-size: 18px;
}

#livel {
    padding: 3px;
    border: 2px solid #006988;
    border-radius: 6px;
    background-color: transparent;
    width: 15%;
    text-align: center;
}

#livel:focus {
    outline: none;
}

/* From Uiverse.io by adamgiebl */ 
.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}


.score--all {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    border: navajowhite;
    padding: 10px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    margin-top: 30px;
}
